.pair {
	display: inline-block;
	margin-right: 30px;
}
#controls {
	float: left;
	width: 960px;
}
#field {
	padding: 3px;
	max-width: 960px;
	border: solid;
	border-width: 2px;
}
.container{
	max-width: 960px;
}
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	max-width: 960px;
	margin: auto;
}
header {
	margin-top: 4px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 8px;
	vertical-align: top;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #242d83;
	border-color: #2B0E3C;
	border: solid;
	border-width: 5px;
	font-size: 50px;
	font-weight: lighter;
	width: 960px;
}

.button-group{
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	height:35px;
	background-color:#D8DDEF;
	width: 960px;
	margin-bottom:8px;
	}
.exambut{
	margin-left: 5px;
}
#exambut3{
	margin-left:2px;
	float:right;
}
#draw{
	float:right;
}
#subdraw{
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	height:56px;
	width: 960px;
	line-height:40px;
	background-color:#D8DDEF;
	}
	
.fakebutton {
	/*buttons that aren't buttons, taken from buttons.css */
	font-weight: 300;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-decoration: none;
	text-align: center;
	margin: 0;
	display: inline-block;
	appearance: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	padding: 0 30px;
	
	background-color: #1b9af7;
	border-color: #1b9af7;
	color: white;
	
	overflow: hidden;
	text-shadow: 0px 0px #0880d7, 1px 1px #0880d7, 2px 2px #0880d7, 3px 3px #0880d7, 4px 4px #0880d7, 5px 5px #0880d7, 6px 6px #0880d7, 7px 7px #0880d7, 8px 8px #0880d7, 9px 9px #0880d7, 10px 10px #0880d7, 11px 11px #0880d7, 12px 12px #0880d7, 13px 13px #0880d7, 14px 14px #0880d7, 15px 15px #0880d7, 16px 16px #0880d7, 17px 17px #0880d7, 18px 18px #0880d7, 19px 19px #0880d7, 20px 20px #0880d7, 21px 21px #0880d7, 22px 22px #0880d7, 23px 23px #0880d7, 24px 24px #0880d7, 25px 25px #0880d7, 26px 26px #0880d7, 27px 27px #0880d7, 28px 28px #0880d7, 29px 29px #0880d7, 30px 30px #0880d7, 31px 31px #0880d7, 32px 32px #0880d7, 33px 33px #0880d7, 34px 34px #0880d7, 35px 35px #0880d7, 36px 36px #0880d7, 37px 37px #0880d7, 38px 38px #0880d7, 39px 39px #0880d7, 40px 40px #0880d7, 41px 41px #0880d7, 42px 42px #0880d7, 43px 43px #0880d7, 44px 44px #0880d7, 45px 45px #0880d7, 46px 46px #0880d7, 47px 47px #0880d7, 48px 48px #0880d7, 49px 49px #0880d7, 50px 50px #0880d7, 51px 51px #0880d7, 52px 52px #0880d7, 53px 53px #0880d7, 54px 54px #0880d7, 55px 55px #0880d7, 56px 56px #0880d7, 57px 57px #0880d7, 58px 58px #0880d7, 59px 59px #0880d7, 60px 60px #0880d7, 61px 61px #0880d7, 62px 62px #0880d7, 63px 63px #0880d7, 64px 64px #0880d7, 65px 65px #0880d7, 66px 66px #0880d7, 67px 67px #0880d7, 68px 68px #0880d7, 69px 69px #0880d7, 70px 70px #0880d7, 71px 71px #0880d7, 72px 72px #0880d7, 73px 73px #0880d7, 74px 74px #0880d7, 75px 75px #0880d7, 76px 76px #0880d7, 77px 77px #0880d7, 78px 78px #0880d7, 79px 79px #0880d7, 80px 80px #0880d7, 81px 81px #0880d7, 82px 82px #0880d7, 83px 83px #0880d7, 84px 84px #0880d7, 85px 85px #0880d7;
}
input {
	font-family:"Consolas", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-weight:lighter;
	font-size:16px;
	height: 45px;
	margin-left: 4px;
	float:left;
}
#math-babble{
	font-size:30px;
	line-height:50px;
	float:left;
	margin-left: 5px;	
}
footer{
	text-align:right;
	font-family:Times New Roman, serif;
	color:#e5e5e5;
}